.bg {
  animation:slide 18s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, var(--bubble) 50%, var(--bg) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:32s;
}

.bg3 {
  animation-duration:40s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}