.card {
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: var(--card);
  border: 1px solid var(--bg);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.card .img-panel {
  width: 100%;
  height: 60%;
  flex-grow: 1;
  display: flex;
}

.card img.no-img {
  width: 100%;
  object-fit: fill;
  padding: 25px 0;
  fill: var(--bright-norm);
  border-bottom: 1px solid var(--bg);
}

.card img.img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-bottom: 1px solid var(--bg);
}

.card h3 {
  box-sizing: border-box;
  padding: 8px 0.8rem;
  z-index: 10;
  color: var(--bright-norm);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card p {
  box-sizing: border-box;
  padding: 0 0.8rem 0.8rem 0.8rem;
  z-index: 10;
  color: var(--text-light);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}