:root {
  --bg: #191825;
  --bubble: #7670a4;
  --card: #232133;
  --bright-norm: #d1ceea;
  --bright-hover: #d1ceea;
  --text-light: #bdb8ec;
  --text-dark: #232133;

    /* height + marginY + paddingY */
  --nav-height: calc(calc(max(24px, 1.5rem) + 20px) + 1.6rem);
  --radius: calc(calc(max(24px, 1.5rem) + 20px) / 2);
  --font-size: clamp(10px, calc(100vw / 50), 16px);
}

html {
  height:100%;

  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  --header-height: calc(44px + 1.66rem);
  --body-height: calc(100vh - var(--header-height));
  position: relative;
  width: calc(100vw - (100vw - 100%));
  /* min-height: var(--body-height); */
  box-sizing: border-box;
  /* top: var(--header-height); */
  padding: 40px calc(10vw + 20px);
  overflow-x: hidden;
}

.grid {
  --ratio: calc(100vw / 600px);
  --columns: round(down, var(--ratio));
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: calc(300px + 10vh);
  grid-auto-rows: calc(300px + 10vh);
  gap: 5vw;
}