.false-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40vh 30vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal-hidden {
  display: none;
}

.card-modal {
  width: 100%;
  height: 100%;
  padding: 0 0.8rem 0.8rem 0.8rem;
  box-sizing: border-box;
  background-color: var(--card);
  border: 1px solid var(--bg);
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.card-modal h3 {
  box-sizing: border-box;
  padding: 8px 0rem;
  z-index: 10;
  color: var(--bright-norm);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 0;
}

.card-modal p {
  box-sizing: border-box;
  padding: 0;
  z-index: 10;
  color: var(--text-light);
  flex-grow: 1;
}

.card-modal form>button {
  justify-self: right;
  flex-grow: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: max-content;
  min-height: 24px;
  
  padding: 0.8rem 1.5rem;
  margin: 5px 0;
  
  border-radius: 10rem;
  border: none;

  background: var(--bubble);
  color: var(--text-dark);

  font-size: 1rem;
}

.card-modal form>button:hover {
  background: var(--bright-hover);
}

.card-modal form>button * {
  height: 1.5rem;
  width: 1.5rem;
}